
@media(min-width:768px) {
    .a {
      height: 100px;
      line-height: 100px;
      vertical-align: middle;
    }
  
    .b {
      height: 600px;
      width: 26.04%;
      /* display: relative; */
      line-height: 600px;
      float: left;
      vertical-align: middle;
    }
  
    .c, .d {
      height: 200px;
      width: 36.979%;
      /* display: relative; */
      line-height: 200px;
      float:left;
      vertical-align: middle;
    }
  
    .e {
      height: 250px;
      width: 18.49%;
      /* display: relative; */
      line-height: 250px;
      display: inline-block;
      vertical-align: middle;
    }
  
    .f {
      float: left;
      vertical-align: middle;
    }
  
    .i {
      height: 150px;
      /* display: relative; */
      line-height: 150px;
      vertical-align: middle;
    } 
  
  }