.a{
    background-color: brown;
}

.b{
    background-color: red;
}

.c{
    background-color: royalblue;
}
.d{
    background-color: whitesmoke;
}
.e{
    background-color: salmon;
}
.f{
    background-color: slateblue;
}
.g{
    background-color: turquoise;
}
.h{
    background-color: thistle;
}